@model DoctorProfileViewModel

<h1>Add Doctor</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="MakeChecked" asp-controller="Doctor">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label for="patientEmail">Patient Email:</label>
                    <input type="email" class="form-control" id="patientEmail" asp-for="@Model.PatientEmail" readonly>
                </div>

                <div class="form-group">
                    <label for="patientName">Patient Name:</label>
                    <input type="text" class="form-control" id="patientName" asp-for="@Model.patientName" readonly>
                </div>

                <div class="form-check">
                    <div class="form-group form-check">
                        <input asp-for=@Model.IsChecked type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label asp-for=@Model.IsChecked class="form-check-label" for="exampleCheck1">Remember Me</label>
                        <span asp-validation-for="@Model.IsChecked"></span>
                </div>

                <input type="submit" value="Save" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

